.pokemon-container {
  margin-top: 82px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.pokemon-container .pokemon-title {
  font-size: 60px;
  margin-bottom: 20px;
}

.pokemon-container .pokemon-select {
  width: 20%;
  padding: 12px 20px;
  border-radius: 5px;
  font-size: 20px;
}

.pokemon-container .pokemon-button {
  width: 150px;
  padding: 12px;
  border-radius: 5px;
  color: white;
  background-color: black;
  font-size: 20px;
  cursor: pointer;
}

.poke-container {
  margin-top: 80px;
  border: 1px solid rgba(0,0,0,0.2);
  width: 700px;
  height: 100%;
  border-radius: 5px;
  padding: 16px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 32px;
}

.poke-sprite {
  width: 400px;
}

.info-container {
  height: 100%;
  font-size: 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.info-container ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 20px;
}